# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Large Assets (>100MB)
public/assets/fatherhood.mov
public/assets/dog-treats.mp4
public/assets/nutrient-timing.mp4
public/assets/follower-ad-1.mp4
public/assets/valor-eoy-2025.mp4
public/assets/lambros-v3.mp4
public/assets/andrew-vsl.mp4
public/assets/cube_video_1080p.mp4
